@-webkit-keyframes fade-in{
  from{
      opacity:0;
  }
  to{
      opacity:1;
  }
}

#display-area {
  background-image: url("img/vault-tec.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation:fade-in 4s ease-in;
}

#display-area:hover {
  opacity: 1;
}

#instructions {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-size: 25px;
  width: 70%;
  margin: auto;
  margin-top: 250px;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.line-out {
  text-decoration: line-through;
}

button {
  height: 45px;
  width: 90px;
  text-align: center;
  font-size: 20px;
  margin-left: 590px;
  margin-top: 20px;
  border: 2px solid black;
}

.exhibit {
  height: 200px;
  width: 200px;
  margin-left: 11.3%;
  margin-top: 240px;
  border:2px solid black;
  display: inline-block;
  transition: all .1s linear;
}

.exhibit:hover {
  transform: scale(1.5);
}

figcaption {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.images {
  height: inherit;
  width: inherit;
}

#results-page {
  background-image: url('img/vault-boy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#results-message {
  font-size: 40px;
  font-weight: bold;
  width: 400px;
  margin-left: 100px;
  margin-top: 100px;
  font-family: 'Titillium Web', sans-serif;
}

.product-results {
  width: 500px;
  height: 200px;
  background-color: white;
  border: 3px solid black;
  margin-left: 20px;
  margin-bottom: 30px;
  transition: all .1s linear;
}

.product-results:hover {
  transform: scale(1.1);
}

.image-result {
  width: 200px;
  height: 200px;
  float: left;
  border-right: 3px solid black;
  margin-right: 10px;
}

.results-description {
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.chart-div {
  width: 90%;
  height: 600px;
  margin-left: 20px;
  margin-bottom: 50px;
  border: 3px solid black;
  background: white;
}
